@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Koulen&family=Montserrat:ital,wght@1,300&family=Nunito:ital@1&family=Oleo+Script+Swash+Caps&family=Poppins:wght@200&family=Roboto+Mono:ital,wght@1,300&display=swap');

*
{
    padding: 0;
    margin: 0;
    background-color: rgb(23, 238, 238);
    
}

#logo 
{
    height: 100px;
}
.navbar
{
    
    display: flex;
     align-items: center; 
    
    
}
#title
{
    font-family: 'Poppins', sans-serif;
}

.nav
{
    padding-left: 100px;
    list-style: none;
    display: flex;
    font-style: italic;
    font-size: 20px;
    
}
#feat 
{
    padding-top: 15px;
    padding-right: 60px;
}
#home
{
    padding-top: 15px;
     padding-right: 60px; 
      
}
#btn1
{
    height: 50px;
   width: 120px;
   font-size: 20px;
   
   border: none;
   border-radius: 25px;
   cursor: pointer;
   
   
}
#btn1 :hover
{
  color: yellow;
}
#spanbtn
{
    padding-right: 50px;
}


.main
{
    display:  flex;
     
    

}

.img
{
   height: 400px;
   position: relative;
   left: 50px;
}
 #tag1
{
font-size: 30px;

 padding-left: 30px; 
 position: relative;
left: 25px;
top: 100px;
font-style: italic;


}
#tag2
{
    
  font-size: 30px;
  position: relative;
  top: 150px;
  right: 20px; 

    
}
#tag3
{
     font-size: 30px;
    position: relative;
    top: 20px;
    right: 50px;
    font-style: italic; 
}

#pag1
{
    font-size: 20px;
    /* padding-top: 50px;
    padding-left: 30px; */
    
}
#pag2
{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 45px;
} 
